src/org/porphyry/model/Entity.rnc

element entity {
	attribute href {xsd:anyURI}?,
	(
		element topic {
			attribute href {xsd:anyURI},
			text
		}

	|
		element \attribute {
			attribute name {text},
			attribute value {text},
			attribute href {xsd:anyURI}?
		}
	|
		element resource {
			attribute name {text},
			attribute href {xsd:anyURI}
		}
	|
		element relatedEntity {
			attribute relationType {text},
			attribute href {xsd:anyURI},
			text
		}
	)*
}


