src/org/porphyry/model/Topic.rnc

element topic {
	attribute name {text}?,
	attribute href {xsd:anyURI}?,
	element viewpoint {
		attribute href {xsd:anyURI},
		text
	}?,
	(
		element entity {
			attribute href {xsd:anyURI},
			text
		}
	|
		element relatedTopic {
			attribute href {xsd:anyURI},
			attribute relationType {text}?,
			text
		}
	)*
}
